<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
   package="com.example.christian.cleantest.shop"
   xmlns:android="http://schemas.android.com/apk/res/android"
   xmlns:dist="http://schemas.android.com/apk/distribution">

   <application
      android:hasCode="false">

      <activity android:name=".core.ui.ShopActivity">
         <intent-filter>
            <action android:name="${ACTION_SHOP}" />
            <category android:name="android.intent.category.DEFAULT" />
         </intent-filter>
      </activity>
   </application>

   <dist:module
      dist:onDemand="true"
      dist:title="@string/shop"
      tools:ignore="ManifestResource">
      <dist:fusing dist:include="true" />
   </dist:module>
</manifest>