<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.distribution.christian.cleantest.auth"
   xmlns:android="http://schemas.android.com/apk/res/android">

   <application android:supportsRtl="true">

      <activity android:name="com.distribution.christian.cleantest.auth.core.ui.AuthActivity">
         <intent-filter>
            <action android:name="${ACTION_AUTH}" />
            <category android:name="android.intent.category.DEFAULT" />
         </intent-filter>
      </activity>
   </application>

</manifest>