<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.distribution.christian.cleantest"
   xmlns:android="http://schemas.android.com/apk/res/android"
   xmlns:dist="http://schemas.android.com/apk/distribution">

   <uses-permission android:name="android.permission.INTERNET" />
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

   <dist:module dist:instant="true" />

   <application
      android:name="com.distribution.christian.cleantest.app.UserApplication"
      android:allowBackup="true"
      android:fullBackupContent="@xml/backup_rules"
      android:hasCode="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

      <activity android:name=".app.MainActivity" android:launchMode="singleTop">
         <intent-filter>
            <action android:name="${ACTION_MAIN}" />
            <category android:name="android.intent.category.DEFAULT" />
         </intent-filter>
      </activity>

      <activity
         android:name="com.distribution.christian.cleantest.app.SplashActivity"
         android:noHistory="true"
         android:theme="@style/SplashTheme">
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
         <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data
               android:host="cleantest.de"
               android:scheme="https" />
            <data
               android:host="cleantest.de"
               android:scheme="http" />

         </intent-filter>
      </activity>

   </application>

</manifest>