<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
   package="com.example.christian.cleantest.shop"
   xmlns:dist="http://schemas.android.com/apk/distribution">

   <dist:module
      dist:onDemand="true"
      dist:title="@string/shop"
      tools:ignore="ManifestResource">
      <dist:fusing dist:include="true" />
   </dist:module>
</manifest>